<!DOCTYPE html>
<html ng-app="ResponseParsing">

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>

    <script type="text/javascript" src="app.js"></script>

</head>

<body ng-controller="MainController">

    <div class="centrecolumn">
        <input type="text" placeholder="Type your answer here." ng-model="studentsResponse" />
        <div class="options">
            <div class="optionrow">
                <div class="option">
                    <label>Expected Response Type:</label>
                    <select ng-model="expectedResponseType">
                        <option value="integer">Integer</option>
                        <option value="nonNegativeInteger">Non-Negative Integer</option>
                        <option value="decimal">Decimal</option>
                        <option value="currencyValue">Currency Value</option>
                    </select>
                </div>
                <div class="option">
                    <label>Allow Leading Zeros:</label>
                    <input type="checkbox" ng-model="allowLeadingZeros" />
                </div>
                <div class="option">
                    <label>Must Have Explicit Sign:</label>
                    <input type="checkbox" ng-model="mustHaveExplicitSign" />
                </div>
            </div>
        </div>

        <div class="acceptorreject" style="background-color: hsl({{isAcceptedColour}}, 60%, 40%); color: white;">{{isAccepted}}</div>
        <p>{{messageText}}</p>
    </div>

</body>

</html>